body{
	background: #ffffff;
	font-family: 'Poiret One', cursive;
    height: 100%;

}

h1,h2,h3,h4,h5,h6
{
	font-family: 'Lobster Two', cursive;
}

/*NAV ================================*/
.main-title{
	color: #941518 !important;
	font-size: 26px;
}





/*FOOTER ================================*/
footer{
	background: #D5D3D3;
	text-align: center;
	color: #000000;
	position: relative;
    height: 100%;
    bottom: 0;
    width: 100%;
}

ul.redes li
{
	display: inline-block;
}

ul.redes li a
{
	color: #941518;
}

.avatar	
{
	border: 5px solid #941518;
	border-radius: 50%;
	float: left;
	height: 100px;
	width: 100px;
}

/*DETALLE DEL PRODUCTO ===========================*/
.product-block
{
	background: #ffffff;
	border-radius: 1em;
	padding: 1em;
}

/*SLIDER ===========================*/
.navbar
{
	margin-bottom: 0;
}

/*CARRITO ===========================*/

.table-cart
{
	background: #ffffff;
	border-radius: 1em;
	margin-bottom: 30px;
	padding: 1em;
}

.table-cart img
{
	width: 50px;
}

/*DETALLE DEL PEDIDO ==================*/


/*PINTEREST ===========================*/
#products {
position: relative;
max-width: 100%;
width: 100%;
}
img {
width: 100%;
max-width: 100%;
height: auto;
}
.white-panel {
position: absolute;
background: white;
box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
padding: 10px;
}
.white-panel h1 {
font-size: 1em;
}
.white-panel h1 a {
color: #A92733;
}
.white-panel:hover {
box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
margin-top: -5px;
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}


/*MENU LOGIN DESPLEGABLE -----------------------*/
#login-dp{
    min-width: 350px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}

#login-dp h1{
    	text-align: center;
}

#login-dp .help-block{
    font-size:12px;
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:6px; 
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc;
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
.btn-gp{
    color: #fff;
    background-color:#d34836;
}
.btn-gp:hover{
    color: #fff;
    background-color:#e06055; 
}
.btn-linkedin{
    color: #fff;
    background-color:#0075B2;
}
.btn-linkedin:hover{
    color: #fff;
    background-color:#32506d; 
}
.gp-linkedin{
    margin-top: 5px;
    }

@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}
